processor_template/oracleTohbase.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>015c100b-dd24-1fed-fd67-6e113b76e839</groupId>
  <name>oracleTohbase</name>
  <snippet>
    <connections>
      <id>a2eb5ccb-8271-353f-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>3017.6583299554472</x>
        <y>419.698134450403</y>
      </bends>
      <bends>
        <x>3017.6583299554472</x>
        <y>486.698134450403</y>
      </bends>
      <destination>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>0a4cab38-9735-31ed-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>0a4cab38-9735-31ed-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>aa65aafb-bc66-386e-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>615.9858627319336</x>
        <y>509.20000000000005</y>
      </bends>
      <bends>
        <x>659.4858627319336</x>
        <y>553.4200000000001</y>
      </bends>
      <destination>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>a38d29e1-4346-30f2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>a38d29e1-4346-30f2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>b4a3dcfb-9740-3c12-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>658.5</x>
        <y>250.58000000000004</y>
      </bends>
      <destination>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>7ad1d997-5e3c-39a5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>3efdc8f3-a780-31d1-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>b9a868c3-24d9-3821-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>664.0123443603516</x>
        <y>413.1385864257812</y>
      </bends>
      <destination>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>a38d29e1-4346-30f2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>7ad1d997-5e3c-39a5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>c8f83860-49ed-3b70-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>855c84ad-178f-38ab-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>split</selectedRelationships>
      <source>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>bc9fb412-44e2-397b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>c9427fd0-d1ea-33d1-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>0a4cab38-9735-31ed-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>48c9edfc-5f50-39e7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>e5c3e68c-1b4a-35a2-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>658.5</x>
        <y>96.48000000000002</y>
      </bends>
      <destination>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>3efdc8f3-a780-31d1-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>90d30da0-b3de-3af2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>f45ea773-b5a8-3a41-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <bends>
        <x>3019.787632104189</x>
        <y>685.6008260704504</y>
      </bends>
      <bends>
        <x>3019.787632104189</x>
        <y>752.6008260704504</y>
      </bends>
      <destination>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>098cb3c9-549c-3bf2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>098cb3c9-549c-3bf2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>09847740-a0ca-3e93-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>500 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>1000</backPressureObjectThreshold>
      <destination>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>46bf9324-b30b-3128-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>f58eb4d2-ad29-3329-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>4ed2fec6-b6b3-301c-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>bc9fb412-44e2-397b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>46bf9324-b30b-3128-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>5666f0c3-59f4-3ad1-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>86bb7401-7261-3476-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>855c84ad-178f-38ab-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>60c2318a-a585-3380-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>098cb3c9-549c-3bf2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>86bb7401-7261-3476-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>6d9c684c-72f4-36e6-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>48c9edfc-5f50-39e7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>a2395cb0-ef13-3e2e-0000-000000000000</groupId>
        <id>86bb7401-7261-3476-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>fd940a28-b44b-376b-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-hbase_1_1_2-client-service-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Hadoop Configuration Files</key>
          <value>
            <name>Hadoop Configuration Files</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
          <value>
            <name>Kerberos Principal</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
          <value>
            <name>Kerberos Keytab</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper Quorum</key>
          <value>
            <name>ZooKeeper Quorum</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper Client Port</key>
          <value>
            <name>ZooKeeper Client Port</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper ZNode Parent</key>
          <value>
            <name>ZooKeeper ZNode Parent</name>
          </value>
        </entry>
        <entry>
          <key>HBase Client Retries</key>
          <value>
            <name>HBase Client Retries</name>
          </value>
        </entry>
        <entry>
          <key>Phoenix Client JAR Location</key>
          <value>
            <name>Phoenix Client JAR Location</name>
          </value>
        </entry>
      </descriptors>
      <name>HBase_1_1_2_ClientService</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Hadoop Configuration Files</key>
          <value>/etc/hadoop/conf/core-site.xml,/etc/hbase/conf/hbase-site.xml</value>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
        </entry>
        <entry>
          <key>ZooKeeper Quorum</key>
          <value>192.168.1.223,192.168.1.224,192.168.1.225</value>
        </entry>
        <entry>
          <key>ZooKeeper Client Port</key>
          <value>2181</value>
        </entry>
        <entry>
          <key>ZooKeeper ZNode Parent</key>
        </entry>
        <entry>
          <key>HBase Client Retries</key>
          <value>1</value>
        </entry>
        <entry>
          <key>Phoenix Client JAR Location</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.hbase.HBase_1_1_2_ClientService</type>
    </controllerServices>
    <controllerServices>
      <id>44edf784-93ef-384a-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-dbcp-service-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Database Connection URL</key>
          <value>
            <name>Database Connection URL</name>
          </value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>
            <name>Database Driver Class Name</name>
          </value>
        </entry>
        <entry>
          <key>database-driver-locations</key>
          <value>
            <name>database-driver-locations</name>
          </value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>
            <name>Database User</name>
          </value>
        </entry>
        <entry>
          <key>Password</key>
          <value>
            <name>Password</name>
          </value>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>
            <name>Max Wait Time</name>
          </value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>
            <name>Max Total Connections</name>
          </value>
        </entry>
        <entry>
          <key>Validation-query</key>
          <value>
            <name>Validation-query</name>
          </value>
        </entry>
      </descriptors>
      <name>227</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Database Connection URL</key>
          <value>jdbc:oracle:thin:@192.168.1.227:1521:orcl</value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>oracle.jdbc.driver.OracleDriver</value>
        </entry>
        <entry>
          <key>database-driver-locations</key>
          <value>/data1/nifi/oracle-ojdbc6.jar</value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>YUNCHEN</value>
        </entry>
        <entry>
          <key>Password</key>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>500 millis</value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>8</value>
        </entry>
        <entry>
          <key>Validation-query</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
    </controllerServices>
    <processors>
      <id>855c84ad-178f-38ab-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <position>
        <x>1804.2212322764276</x>
        <y>854.9039288698813</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>
              <name>Return Type</name>
            </value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>
              <name>Path Not Found Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
          <entry>
            <key>GXSJ</key>
            <value>
              <name>GXSJ</name>
            </value>
          </entry>
          <entry>
            <key>ID</key>
            <value>
              <name>ID</name>
            </value>
          </entry>
          <entry>
            <key>XM</key>
            <value>
              <name>XM</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Destination</key>
            <value>flowfile-attribute</value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>auto-detect</value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>ignore</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
          <entry>
            <key>GXSJ</key>
            <value>$.GXSJ</value>
          </entry>
          <entry>
            <key>ID</key>
            <value>$.ID</value>
          </entry>
          <entry>
            <key>XM</key>
            <value>$.XM</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>EvaluateJsonPath</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
    </processors>
    <processors>
      <id>86bb7401-7261-3476-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <position>
        <x>1807.7786031596975</x>
        <y>625.7895148044773</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Routing Strategy</key>
            <value>
              <name>Routing Strategy</name>
            </value>
          </entry>
          <entry>
            <key>matched</key>
            <value>
              <name>matched</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Routing Strategy</key>
            <value>Route to Property name</value>
          </entry>
          <entry>
            <key>matched</key>
            <value>${ID:isEmpty():not()}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>RouteOnAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
    </processors>
    <processors>
      <id>90d30da0-b3de-3af2-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <position>
        <x>1.5</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Protocol</key>
            <value>
              <name>Protocol</name>
            </value>
          </entry>
          <entry>
            <key>Port</key>
            <value>
              <name>Port</name>
            </value>
          </entry>
          <entry>
            <key>Local Network Interface</key>
            <value>
              <name>Local Network Interface</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Client Auth</key>
            <value>
              <name>Client Auth</name>
            </value>
          </entry>
          <entry>
            <key>Receive Buffer Size</key>
            <value>
              <name>Receive Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Max Size of Message Queue</key>
            <value>
              <name>Max Size of Message Queue</name>
            </value>
          </entry>
          <entry>
            <key>Max Size of Socket Buffer</key>
            <value>
              <name>Max Size of Socket Buffer</name>
            </value>
          </entry>
          <entry>
            <key>Max Number of TCP Connections</key>
            <value>
              <name>Max Number of TCP Connections</name>
            </value>
          </entry>
          <entry>
            <key>Max Batch Size</key>
            <value>
              <name>Max Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Message Delimiter</key>
            <value>
              <name>Message Delimiter</name>
            </value>
          </entry>
          <entry>
            <key>Parse Messages</key>
            <value>
              <name>Parse Messages</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Protocol</key>
            <value>UDP</value>
          </entry>
          <entry>
            <key>Port</key>
            <value>7780</value>
          </entry>
          <entry>
            <key>Local Network Interface</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Client Auth</key>
            <value>REQUIRED</value>
          </entry>
          <entry>
            <key>Receive Buffer Size</key>
            <value>65507 B</value>
          </entry>
          <entry>
            <key>Max Size of Message Queue</key>
            <value>10000</value>
          </entry>
          <entry>
            <key>Max Size of Socket Buffer</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Max Number of TCP Connections</key>
            <value>2</value>
          </entry>
          <entry>
            <key>Max Batch Size</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Message Delimiter</key>
            <value>\n</value>
          </entry>
          <entry>
            <key>Parse Messages</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ListenSyslog</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>invalid</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ListenSyslog</type>
    </processors>
    <processors>
      <id>a38d29e1-4346-30f2-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <position>
        <x>2.4858627319335938</x>
        <y>475.70000000000005</y>
      </position>
      <bundle>
        <artifact>nifi-hbase-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HBase Client Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
              <name>HBase Client Service</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier</key>
            <value>
              <name>Row Identifier</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Field Name</key>
            <value>
              <name>Row Identifier Field Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>
              <name>Row Identifier Encoding Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>
              <name>Column Family</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Complex Field Strategy</key>
            <value>
              <name>Complex Field Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Field Encoding Strategy</key>
            <value>
              <name>Field Encoding Strategy</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HBase Client Service</key>
            <value>5e278505-785f-3e6e-0000-000000000000</value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>syslog</value>
          </entry>
          <entry>
            <key>Row Identifier</key>
          </entry>
          <entry>
            <key>Row Identifier Field Name</key>
            <value>id</value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>String</value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>msg</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>25</value>
          </entry>
          <entry>
            <key>Complex Field Strategy</key>
            <value>Text</value>
          </entry>
          <entry>
            <key>Field Encoding Strategy</key>
            <value>String</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHBaseJSON</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.hbase.PutHBaseJSON</type>
    </processors>
    <processors>
      <id>bc9fb412-44e2-397b-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <position>
        <x>1235.6916177630894</x>
        <y>841.0741029112534</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JsonPath Expression</key>
            <value>
              <name>JsonPath Expression</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JsonPath Expression</key>
            <value>$</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitJson</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>split</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitJson</type>
    </processors>
    <processors>
      <id>f58eb4d2-ad29-3329-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <position>
        <x>1241.6736138654355</x>
        <y>376.3974785649758</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
              <name>Database Connection Pooling Service</name>
            </value>
          </entry>
          <entry>
            <key>db-fetch-db-type</key>
            <value>
              <name>db-fetch-db-type</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Columns to Return</key>
            <value>
              <name>Columns to Return</name>
            </value>
          </entry>
          <entry>
            <key>Maximum-value Columns</key>
            <value>
              <name>Maximum-value Columns</name>
            </value>
          </entry>
          <entry>
            <key>Max Wait Time</key>
            <value>
              <name>Max Wait Time</name>
            </value>
          </entry>
          <entry>
            <key>Fetch Size</key>
            <value>
              <name>Fetch Size</name>
            </value>
          </entry>
          <entry>
            <key>qdbt-max-rows</key>
            <value>
              <name>qdbt-max-rows</name>
            </value>
          </entry>
          <entry>
            <key>qdbt-max-frags</key>
            <value>
              <name>qdbt-max-frags</name>
            </value>
          </entry>
          <entry>
            <key>dbf-normalize</key>
            <value>
              <name>dbf-normalize</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>3 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>44edf784-93ef-384a-0000-000000000000</value>
          </entry>
          <entry>
            <key>db-fetch-db-type</key>
            <value>Oracle</value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>YUNCHEN.GA_ZFBAPT_XYRYXX</value>
          </entry>
          <entry>
            <key>Columns to Return</key>
            <value>ID,XM,GXSJ,BZ</value>
          </entry>
          <entry>
            <key>Maximum-value Columns</key>
            <value>GXSJ</value>
          </entry>
          <entry>
            <key>Max Wait Time</key>
            <value>10 seconds</value>
          </entry>
          <entry>
            <key>Fetch Size</key>
            <value>1000</value>
          </entry>
          <entry>
            <key>qdbt-max-rows</key>
            <value>10000</value>
          </entry>
          <entry>
            <key>qdbt-max-frags</key>
            <value>10000</value>
          </entry>
          <entry>
            <key>dbf-normalize</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>5 s</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>QueryDatabaseTable</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.QueryDatabaseTable</type>
    </processors>
    <processors>
      <id>098cb3c9-549c-3bf2-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <position>
        <x>2406.287632104189</x>
        <y>652.1008260704504</y>
      </position>
      <bundle>
        <artifact>nifi-hbase-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HBase Client Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
              <name>HBase Client Service</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier</key>
            <value>
              <name>Row Identifier</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>
              <name>Row Identifier Encoding Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>
              <name>Column Family</name>
            </value>
          </entry>
          <entry>
            <key>Column Qualifier</key>
            <value>
              <name>Column Qualifier</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HBase Client Service</key>
            <value>fd940a28-b44b-376b-0000-000000000000</value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>Users</value>
          </entry>
          <entry>
            <key>Row Identifier</key>
            <value>${ssn}</value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>String</value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>cf</value>
          </entry>
          <entry>
            <key>Column Qualifier</key>
            <value>user_full</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>25</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHBaseCell</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.hbase.PutHBaseCell</type>
    </processors>
    <processors>
      <id>0a4cab38-9735-31ed-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <position>
        <x>2404.1583299554472</x>
        <y>386.198134450403</y>
      </position>
      <bundle>
        <artifact>nifi-hbase-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HBase Client Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
              <name>HBase Client Service</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier</key>
            <value>
              <name>Row Identifier</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Field Name</key>
            <value>
              <name>Row Identifier Field Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>
              <name>Row Identifier Encoding Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>
              <name>Column Family</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Complex Field Strategy</key>
            <value>
              <name>Complex Field Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Field Encoding Strategy</key>
            <value>
              <name>Field Encoding Strategy</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HBase Client Service</key>
            <value>fd940a28-b44b-376b-0000-000000000000</value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>Users</value>
          </entry>
          <entry>
            <key>Row Identifier</key>
          </entry>
          <entry>
            <key>Row Identifier Field Name</key>
            <value>ID</value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>String</value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>cf</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>25</value>
          </entry>
          <entry>
            <key>Complex Field Strategy</key>
            <value>Text</value>
          </entry>
          <entry>
            <key>Field Encoding Strategy</key>
            <value>String</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHBaseJSON</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.hbase.PutHBaseJSON</type>
    </processors>
    <processors>
      <id>3efdc8f3-a780-31d1-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <position>
        <x>1.5</x>
        <y>156.77999999999997</y>
      </position>
      <bundle>
        <artifact>nifi-update-attribute-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>
              <name>Delete Attributes Expression</name>
            </value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>
              <name>Store State</name>
            </value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
            <value>
              <name>Stateful Variables Initial Value</name>
            </value>
          </entry>
          <entry>
            <key>body</key>
            <value>
              <name>body</name>
            </value>
          </entry>
          <entry>
            <key>hostname</key>
            <value>
              <name>hostname</name>
            </value>
          </entry>
          <entry>
            <key>id</key>
            <value>
              <name>id</name>
            </value>
          </entry>
          <entry>
            <key>port</key>
            <value>
              <name>port</name>
            </value>
          </entry>
          <entry>
            <key>priority</key>
            <value>
              <name>priority</name>
            </value>
          </entry>
          <entry>
            <key>protocol</key>
            <value>
              <name>protocol</name>
            </value>
          </entry>
          <entry>
            <key>sender</key>
            <value>
              <name>sender</name>
            </value>
          </entry>
          <entry>
            <key>timestamp</key>
            <value>
              <name>timestamp</name>
            </value>
          </entry>
          <entry>
            <key>version</key>
            <value>
              <name>version</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Delete Attributes Expression</key>
            <value>syslog.*</value>
          </entry>
          <entry>
            <key>Store State</key>
            <value>Do not store state</value>
          </entry>
          <entry>
            <key>Stateful Variables Initial Value</key>
          </entry>
          <entry>
            <key>body</key>
            <value>${syslog.body}</value>
          </entry>
          <entry>
            <key>hostname</key>
            <value>${syslog.hostname}</value>
          </entry>
          <entry>
            <key>id</key>
            <value>${syslog.timestamp:toDate('MMM d HH:mm:ss'):toNumber()}_${uuid}</value>
          </entry>
          <entry>
            <key>port</key>
            <value>${syslog.port}</value>
          </entry>
          <entry>
            <key>priority</key>
            <value>${syslog.priority}</value>
          </entry>
          <entry>
            <key>protocol</key>
            <value>${syslog.protocol}</value>
          </entry>
          <entry>
            <key>sender</key>
            <value>${syslog.sender}</value>
          </entry>
          <entry>
            <key>timestamp</key>
            <value>${syslog.timestamp}</value>
          </entry>
          <entry>
            <key>version</key>
            <value>${syslog.version}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UpdateAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
    </processors>
    <processors>
      <id>46bf9324-b30b-3128-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <position>
        <x>1245.8142035905385</x>
        <y>628.6661418678121</y>
      </position>
      <bundle>
        <artifact>nifi-avro-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JSON container options</key>
            <value>
              <name>JSON container options</name>
            </value>
          </entry>
          <entry>
            <key>Wrap Single Record</key>
            <value>
              <name>Wrap Single Record</name>
            </value>
          </entry>
          <entry>
            <key>Avro schema</key>
            <value>
              <name>Avro schema</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JSON container options</key>
            <value>array</value>
          </entry>
          <entry>
            <key>Wrap Single Record</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Avro schema</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConvertAvroToJSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style>
        <entry>
          <key>background-color</key>
          <value>#ffffff</value>
        </entry>
      </style>
      <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
    </processors>
    <processors>
      <id>48c9edfc-5f50-39e7-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <position>
        <x>1800.8527013641765</x>
        <y>374.8829442790594</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Attributes List</key>
            <value>
              <name>Attributes List</name>
            </value>
          </entry>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>
              <name>Include Core Attributes</name>
            </value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>
              <name>Null Value</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Attributes List</key>
            <value>ID,XM,GXSJ</value>
          </entry>
          <entry>
            <key>Destination</key>
            <value>flowfile-content</value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>AttributesToJSON</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
    </processors>
    <processors>
      <id>7ad1d997-5e3c-39a5-0000-000000000000</id>
      <parentGroupId>a2395cb0-ef13-3e2e-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>316.24</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Attributes List</key>
            <value>
              <name>Attributes List</name>
            </value>
          </entry>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>
              <name>Include Core Attributes</name>
            </value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>
              <name>Null Value</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Attributes List</key>
          </entry>
          <entry>
            <key>Destination</key>
            <value>flowfile-content</value>
          </entry>
          <entry>
            <key>Include Core Attributes</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Null Value</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>AttributesToJSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
    </processors>
  </snippet>
  <timestamp>06/02/2017 10:07:17 CST</timestamp>
</template>