processor_template/yunchen-syslog-stds-dns-to-kafka.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>b7d59d9e-015e-1000-923e-727622665e80</groupId>
  <name>yunchen-syslog-stds-dns-to-kafka</name>
  <snippet>
    <processGroups>
      <id>cba6c1c6-fe09-3ae6-0000-000000000000</id>
      <parentGroupId>b925a293-1e09-3018-0000-000000000000</parentGroupId>
      <position>
        <x>847.0</x>
        <y>10.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>9731f80a-2498-3473-0000-000000000000</id>
          <parentGroupId>cba6c1c6-fe09-3ae6-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>cba6c1c6-fe09-3ae6-0000-000000000000</groupId>
            <id>33bcf965-a97e-36a5-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>split</selectedRelationships>
          <source>
            <groupId>cba6c1c6-fe09-3ae6-0000-000000000000</groupId>
            <id>7150e6fc-edcf-3cf2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>e553055e-8fb8-372c-0000-000000000000</id>
          <parentGroupId>cba6c1c6-fe09-3ae6-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>cba6c1c6-fe09-3ae6-0000-000000000000</groupId>
            <id>ad6e4d4d-11ce-385b-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>cba6c1c6-fe09-3ae6-0000-000000000000</groupId>
            <id>33bcf965-a97e-36a5-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>e8b9823e-b2f9-3035-0000-000000000000</id>
          <parentGroupId>cba6c1c6-fe09-3ae6-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>cba6c1c6-fe09-3ae6-0000-000000000000</groupId>
            <id>c5c42f03-3d0d-3dae-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cba6c1c6-fe09-3ae6-0000-000000000000</groupId>
            <id>ad6e4d4d-11ce-385b-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>6a5db7b7-461a-3c28-0000-000000000000</id>
          <parentGroupId>cba6c1c6-fe09-3ae6-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>cba6c1c6-fe09-3ae6-0000-000000000000</groupId>
            <id>7150e6fc-edcf-3cf2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cba6c1c6-fe09-3ae6-0000-000000000000</groupId>
            <id>15cb955c-a3a3-35c5-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>6b2b72d0-368c-399f-0000-000000000000</id>
          <parentGroupId>cba6c1c6-fe09-3ae6-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>cba6c1c6-fe09-3ae6-0000-000000000000</groupId>
            <id>961afc45-eed1-3115-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cba6c1c6-fe09-3ae6-0000-000000000000</groupId>
            <id>ad6e4d4d-11ce-385b-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>7c836383-821c-3d56-0000-000000000000</id>
          <parentGroupId>cba6c1c6-fe09-3ae6-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>cba6c1c6-fe09-3ae6-0000-000000000000</groupId>
            <id>15cb955c-a3a3-35c5-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>cba6c1c6-fe09-3ae6-0000-000000000000</groupId>
            <id>291e392e-b67b-3e02-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <processors>
          <id>961afc45-eed1-3115-0000-000000000000</id>
          <parentGroupId>cba6c1c6-fe09-3ae6-0000-000000000000</parentGroupId>
          <position>
            <x>1470.9886635372814</x>
            <y>203.19732854649106</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>counter-name</key>
                <value>
                  <name>counter-name</name>
                </value>
              </entry>
              <entry>
                <key>delta</key>
                <value>
                  <name>delta</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>counter-name</key>
                <value>stds</value>
              </entry>
              <entry>
                <key>delta</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateCounter</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.UpdateCounter</type>
        </processors>
        <processors>
          <id>ad6e4d4d-11ce-385b-0000-000000000000</id>
          <parentGroupId>cba6c1c6-fe09-3ae6-0000-000000000000</parentGroupId>
          <position>
            <x>1024.622010855182</x>
            <y>493.4804570735528</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>(?s)(^.*$)</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>${uuid},${srcIP},${dstIP},${ruleName},${timedate}</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Regex Replace</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ReplaceText</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
          <id>c5c42f03-3d0d-3dae-0000-000000000000</id>
          <parentGroupId>cba6c1c6-fe09-3ae6-0000-000000000000</parentGroupId>
          <position>
            <x>1047.2744187258513</x>
            <y>742.5333136235017</y>
          </position>
          <bundle>
            <artifact>nifi-kafka-0-10-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
                <value>
                  <name>sasl.kerberos.principal</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
                <value>
                  <name>sasl.kerberos.keytab</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>acks</key>
                <value>
                  <name>acks</name>
                </value>
              </entry>
              <entry>
                <key>kafka-key</key>
                <value>
                  <name>kafka-key</name>
                </value>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>
                  <name>key-attribute-encoding</name>
                </value>
              </entry>
              <entry>
                <key>message-demarcator</key>
                <value>
                  <name>message-demarcator</name>
                </value>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>
                  <name>max.request.size</name>
                </value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>
                  <name>ack.wait.time</name>
                </value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>
                  <name>max.block.ms</name>
                </value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>
                  <name>partitioner.class</name>
                </value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>
                  <name>compression.type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>zjdw-pre0065:9092,zjdw-pre0066:9092,zjdw-pre0067:9092,zjdw-pre0068:9092,zjdw-pre0069:9092</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>topic</key>
                <value>json</value>
              </entry>
              <entry>
                <key>acks</key>
                <value>0</value>
              </entry>
              <entry>
                <key>kafka-key</key>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>utf-8</value>
              </entry>
              <entry>
                <key>message-demarcator</key>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>5 sec</value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>none</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PublishKafka_0_10</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_0_10</type>
        </processors>
        <processors>
          <id>15cb955c-a3a3-35c5-0000-000000000000</id>
          <parentGroupId>cba6c1c6-fe09-3ae6-0000-000000000000</parentGroupId>
          <position>
            <x>432.73095703125</x>
            <y>483.41589736938477</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Hostname</key>
                <value>
                  <name>Hostname</name>
                </value>
              </entry>
              <entry>
                <key>Port</key>
                <value>
                  <name>Port</name>
                </value>
              </entry>
              <entry>
                <key>Username</key>
                <value>
                  <name>Username</name>
                </value>
              </entry>
              <entry>
                <key>Password</key>
                <value>
                  <name>Password</name>
                </value>
              </entry>
              <entry>
                <key>Remote File</key>
                <value>
                  <name>Remote File</name>
                </value>
              </entry>
              <entry>
                <key>Completion Strategy</key>
                <value>
                  <name>Completion Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Move Destination Directory</key>
                <value>
                  <name>Move Destination Directory</name>
                </value>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>
                  <name>Connection Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Data Timeout</key>
                <value>
                  <name>Data Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Use Compression</key>
                <value>
                  <name>Use Compression</name>
                </value>
              </entry>
              <entry>
                <key>Connection Mode</key>
                <value>
                  <name>Connection Mode</name>
                </value>
              </entry>
              <entry>
                <key>Transfer Mode</key>
                <value>
                  <name>Transfer Mode</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Type</key>
                <value>
                  <name>Proxy Type</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Port</key>
                <value>
                  <name>Proxy Port</name>
                </value>
              </entry>
              <entry>
                <key>Http Proxy Username</key>
                <value>
                  <name>Http Proxy Username</name>
                </value>
              </entry>
              <entry>
                <key>Http Proxy Password</key>
                <value>
                  <name>Http Proxy Password</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Hostname</key>
                <value>zjdw-pre0064</value>
              </entry>
              <entry>
                <key>Port</key>
                <value>21</value>
              </entry>
              <entry>
                <key>Username</key>
                <value>json</value>
              </entry>
              <entry>
                <key>Password</key>
              </entry>
              <entry>
                <key>Remote File</key>
                <value>${path}/${filename}</value>
              </entry>
              <entry>
                <key>Completion Strategy</key>
                <value>Delete File</value>
              </entry>
              <entry>
                <key>Move Destination Directory</key>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>30 sec</value>
              </entry>
              <entry>
                <key>Data Timeout</key>
                <value>30 sec</value>
              </entry>
              <entry>
                <key>Use Compression</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Connection Mode</key>
                <value>Passive</value>
              </entry>
              <entry>
                <key>Transfer Mode</key>
                <value>Binary</value>
              </entry>
              <entry>
                <key>Proxy Type</key>
                <value>DIRECT</value>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Port</key>
              </entry>
              <entry>
                <key>Http Proxy Username</key>
              </entry>
              <entry>
                <key>Http Proxy Password</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>FetchFTP</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>comms.failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>not.found</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>permission.denied</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.FetchFTP</type>
        </processors>
        <processors>
          <id>291e392e-b67b-3e02-0000-000000000000</id>
          <parentGroupId>cba6c1c6-fe09-3ae6-0000-000000000000</parentGroupId>
          <position>
            <x>428.0</x>
            <y>202.0</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Hostname</key>
                <value>
                  <name>Hostname</name>
                </value>
              </entry>
              <entry>
                <key>Port</key>
                <value>
                  <name>Port</name>
                </value>
              </entry>
              <entry>
                <key>Username</key>
                <value>
                  <name>Username</name>
                </value>
              </entry>
              <entry>
                <key>Password</key>
                <value>
                  <name>Password</name>
                </value>
              </entry>
              <entry>
                <key>Remote Path</key>
                <value>
                  <name>Remote Path</name>
                </value>
              </entry>
              <entry>
                <key>Distributed Cache Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                  <name>Distributed Cache Service</name>
                </value>
              </entry>
              <entry>
                <key>Search Recursively</key>
                <value>
                  <name>Search Recursively</name>
                </value>
              </entry>
              <entry>
                <key>File Filter Regex</key>
                <value>
                  <name>File Filter Regex</name>
                </value>
              </entry>
              <entry>
                <key>Path Filter Regex</key>
                <value>
                  <name>Path Filter Regex</name>
                </value>
              </entry>
              <entry>
                <key>Ignore Dotted Files</key>
                <value>
                  <name>Ignore Dotted Files</name>
                </value>
              </entry>
              <entry>
                <key>Remote Poll Batch Size</key>
                <value>
                  <name>Remote Poll Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>
                  <name>Connection Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Data Timeout</key>
                <value>
                  <name>Data Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Connection Mode</key>
                <value>
                  <name>Connection Mode</name>
                </value>
              </entry>
              <entry>
                <key>Transfer Mode</key>
                <value>
                  <name>Transfer Mode</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Type</key>
                <value>
                  <name>Proxy Type</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Port</key>
                <value>
                  <name>Proxy Port</name>
                </value>
              </entry>
              <entry>
                <key>Http Proxy Username</key>
                <value>
                  <name>Http Proxy Username</name>
                </value>
              </entry>
              <entry>
                <key>Http Proxy Password</key>
                <value>
                  <name>Http Proxy Password</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Hostname</key>
                <value>zjdw-pre0064</value>
              </entry>
              <entry>
                <key>Port</key>
                <value>21</value>
              </entry>
              <entry>
                <key>Username</key>
                <value>json</value>
              </entry>
              <entry>
                <key>Password</key>
              </entry>
              <entry>
                <key>Remote Path</key>
                <value>.</value>
              </entry>
              <entry>
                <key>Distributed Cache Service</key>
              </entry>
              <entry>
                <key>Search Recursively</key>
                <value>false</value>
              </entry>
              <entry>
                <key>File Filter Regex</key>
              </entry>
              <entry>
                <key>Path Filter Regex</key>
              </entry>
              <entry>
                <key>Ignore Dotted Files</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Remote Poll Batch Size</key>
                <value>5000</value>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>30 sec</value>
              </entry>
              <entry>
                <key>Data Timeout</key>
                <value>30 sec</value>
              </entry>
              <entry>
                <key>Connection Mode</key>
                <value>Passive</value>
              </entry>
              <entry>
                <key>Transfer Mode</key>
                <value>Binary</value>
              </entry>
              <entry>
                <key>Proxy Type</key>
                <value>DIRECT</value>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Port</key>
              </entry>
              <entry>
                <key>Http Proxy Username</key>
              </entry>
              <entry>
                <key>Http Proxy Password</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ListFTP</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ListFTP</type>
        </processors>
        <processors>
          <id>33bcf965-a97e-36a5-0000-000000000000</id>
          <parentGroupId>cba6c1c6-fe09-3ae6-0000-000000000000</parentGroupId>
          <position>
            <x>1030.4775702529687</x>
            <y>208.6990088633068</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>
                  <name>Return Type</name>
                </value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>
                  <name>Path Not Found Behavior</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
              <entry>
                <key>baseurl</key>
                <value>
                  <name>baseurl</name>
                </value>
              </entry>
              <entry>
                <key>browser</key>
                <value>
                  <name>browser</name>
                </value>
              </entry>
              <entry>
                <key>dstHostDepID</key>
                <value>
                  <name>dstHostDepID</name>
                </value>
              </entry>
              <entry>
                <key>dstHostID</key>
                <value>
                  <name>dstHostID</name>
                </value>
              </entry>
              <entry>
                <key>dstIP</key>
                <value>
                  <name>dstIP</name>
                </value>
              </entry>
              <entry>
                <key>ruleName</key>
                <value>
                  <name>ruleName</name>
                </value>
              </entry>
              <entry>
                <key>srcIP</key>
                <value>
                  <name>srcIP</name>
                </value>
              </entry>
              <entry>
                <key>time</key>
                <value>
                  <name>time</name>
                </value>
              </entry>
              <entry>
                <key>timedate</key>
                <value>
                  <name>timedate</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Destination</key>
                <value>flowfile-attribute</value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>auto-detect</value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>ignore</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
              <entry>
                <key>baseurl</key>
                <value>$._source.baseurl</value>
              </entry>
              <entry>
                <key>browser</key>
                <value>$._source.browser</value>
              </entry>
              <entry>
                <key>dstHostDepID</key>
                <value>$._source.dstHostDepID</value>
              </entry>
              <entry>
                <key>dstHostID</key>
                <value>$._source.dstHostID</value>
              </entry>
              <entry>
                <key>dstIP</key>
                <value>$._source.dstIP</value>
              </entry>
              <entry>
                <key>ruleName</key>
                <value>$._source.ruleName</value>
              </entry>
              <entry>
                <key>srcIP</key>
                <value>$._source.srcIP</value>
              </entry>
              <entry>
                <key>time</key>
                <value>$._source.time</value>
              </entry>
              <entry>
                <key>timedate</key>
                <value>$._source.timedate</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>EvaluateJsonPath</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
          <id>7150e6fc-edcf-3cf2-0000-000000000000</id>
          <parentGroupId>cba6c1c6-fe09-3ae6-0000-000000000000</parentGroupId>
          <position>
            <x>430.43612353881724</x>
            <y>724.0274260772958</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>JsonPath Expression</key>
                <value>
                  <name>JsonPath Expression</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>JsonPath Expression</key>
                <value>$.hits.hits.*</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SplitJson</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>split</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
      </contents>
      <name>stds-to-kafka</name>
    </processGroups>
    <processGroups>
      <id>4fbfc567-6180-3ce1-0000-000000000000</id>
      <parentGroupId>b925a293-1e09-3018-0000-000000000000</parentGroupId>
      <position>
        <x>414.0</x>
        <y>5.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>a48d0db6-2085-3077-0000-000000000000</id>
          <parentGroupId>4fbfc567-6180-3ce1-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>4fbfc567-6180-3ce1-0000-000000000000</groupId>
            <id>5f89117a-556e-316c-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>4fbfc567-6180-3ce1-0000-000000000000</groupId>
            <id>fcaf665b-5eea-301f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>fb262c90-c2c5-303a-0000-000000000000</id>
          <parentGroupId>4fbfc567-6180-3ce1-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>1000000</backPressureObjectThreshold>
          <destination>
            <groupId>4fbfc567-6180-3ce1-0000-000000000000</groupId>
            <id>fcaf665b-5eea-301f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>4fbfc567-6180-3ce1-0000-000000000000</groupId>
            <id>9444f309-796e-30cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>32e1faf8-9adc-36af-0000-000000000000</id>
          <parentGroupId>4fbfc567-6180-3ce1-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>4fbfc567-6180-3ce1-0000-000000000000</groupId>
            <id>d2c1172a-6106-3464-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>4fbfc567-6180-3ce1-0000-000000000000</groupId>
            <id>5f89117a-556e-316c-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>7cc69023-40be-30b3-0000-000000000000</id>
          <parentGroupId>4fbfc567-6180-3ce1-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>4fbfc567-6180-3ce1-0000-000000000000</groupId>
            <id>9444f309-796e-30cc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>splits</selectedRelationships>
          <source>
            <groupId>4fbfc567-6180-3ce1-0000-000000000000</groupId>
            <id>f7909cb6-eb81-335f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>7ebec0a4-1dea-3942-0000-000000000000</id>
          <parentGroupId>4fbfc567-6180-3ce1-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>4fbfc567-6180-3ce1-0000-000000000000</groupId>
            <id>f7909cb6-eb81-335f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>4fbfc567-6180-3ce1-0000-000000000000</groupId>
            <id>f0f62898-5308-3168-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <processors>
          <id>9444f309-796e-30cc-0000-000000000000</id>
          <parentGroupId>4fbfc567-6180-3ce1-0000-000000000000</parentGroupId>
          <position>
            <x>1436.44873046875</x>
            <y>99.57989501953125</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>20</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Capture Group Length</key>
                <value>
                  <name>Maximum Capture Group Length</name>
                </value>
              </entry>
              <entry>
                <key>Enable Canonical Equivalence</key>
                <value>
                  <name>Enable Canonical Equivalence</name>
                </value>
              </entry>
              <entry>
                <key>Enable Case-insensitive Matching</key>
                <value>
                  <name>Enable Case-insensitive Matching</name>
                </value>
              </entry>
              <entry>
                <key>Permit Whitespace and Comments in Pattern</key>
                <value>
                  <name>Permit Whitespace and Comments in Pattern</name>
                </value>
              </entry>
              <entry>
                <key>Enable DOTALL Mode</key>
                <value>
                  <name>Enable DOTALL Mode</name>
                </value>
              </entry>
              <entry>
                <key>Enable Literal Parsing of the Pattern</key>
                <value>
                  <name>Enable Literal Parsing of the Pattern</name>
                </value>
              </entry>
              <entry>
                <key>Enable Multiline Mode</key>
                <value>
                  <name>Enable Multiline Mode</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unicode-aware Case Folding</key>
                <value>
                  <name>Enable Unicode-aware Case Folding</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unicode Predefined Character Classes</key>
                <value>
                  <name>Enable Unicode Predefined Character Classes</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unix Lines Mode</key>
                <value>
                  <name>Enable Unix Lines Mode</name>
                </value>
              </entry>
              <entry>
                <key>Include Capture Group 0</key>
                <value>
                  <name>Include Capture Group 0</name>
                </value>
              </entry>
              <entry>
                <key>extract-text-enable-repeating-capture-group</key>
                <value>
                  <name>extract-text-enable-repeating-capture-group</name>
                </value>
              </entry>
              <entry>
                <key>regex</key>
                <value>
                  <name>regex</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>100 MB</value>
              </entry>
              <entry>
                <key>Maximum Capture Group Length</key>
                <value>1024</value>
              </entry>
              <entry>
                <key>Enable Canonical Equivalence</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Case-insensitive Matching</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Permit Whitespace and Comments in Pattern</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable DOTALL Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Literal Parsing of the Pattern</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Multiline Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unicode-aware Case Folding</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unicode Predefined Character Classes</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unix Lines Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Include Capture Group 0</key>
                <value>true</value>
              </entry>
              <entry>
                <key>extract-text-enable-repeating-capture-group</key>
                <value>false</value>
              </entry>
              <entry>
                <key>regex</key>
                <value>(.*),(.*),(.*),(.*),(.*),(.*)</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ExtractText</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ExtractText</type>
        </processors>
        <processors>
          <id>d2c1172a-6106-3464-0000-000000000000</id>
          <parentGroupId>4fbfc567-6180-3ce1-0000-000000000000</parentGroupId>
          <position>
            <x>445.2415771484375</x>
            <y>344.558349609375</y>
          </position>
          <bundle>
            <artifact>nifi-kafka-0-10-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>15</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
                <value>
                  <name>sasl.kerberos.principal</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
                <value>
                  <name>sasl.kerberos.keytab</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>acks</key>
                <value>
                  <name>acks</name>
                </value>
              </entry>
              <entry>
                <key>kafka-key</key>
                <value>
                  <name>kafka-key</name>
                </value>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>
                  <name>key-attribute-encoding</name>
                </value>
              </entry>
              <entry>
                <key>message-demarcator</key>
                <value>
                  <name>message-demarcator</name>
                </value>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>
                  <name>max.request.size</name>
                </value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>
                  <name>ack.wait.time</name>
                </value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>
                  <name>max.block.ms</name>
                </value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>
                  <name>partitioner.class</name>
                </value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>
                  <name>compression.type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>zjdw-pre0065:9092,zjdw-pre0066:9092,zjdw-pre0067:9092,zjdw-pre0068:9092,zjdw-pre0069:9092</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>topic</key>
                <value>domain</value>
              </entry>
              <entry>
                <key>acks</key>
                <value>0</value>
              </entry>
              <entry>
                <key>kafka-key</key>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>utf-8</value>
              </entry>
              <entry>
                <key>message-demarcator</key>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>5 sec</value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>snappy</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PublishKafka_0_10</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_0_10</type>
        </processors>
        <processors>
          <id>f0f62898-5308-3168-0000-000000000000</id>
          <parentGroupId>4fbfc567-6180-3ce1-0000-000000000000</parentGroupId>
          <position>
            <x>443.0</x>
            <y>96.0</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Input Directory</key>
                <value>
                  <name>Input Directory</name>
                </value>
              </entry>
              <entry>
                <key>File Filter</key>
                <value>
                  <name>File Filter</name>
                </value>
              </entry>
              <entry>
                <key>Path Filter</key>
                <value>
                  <name>Path Filter</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Keep Source File</key>
                <value>
                  <name>Keep Source File</name>
                </value>
              </entry>
              <entry>
                <key>Recurse Subdirectories</key>
                <value>
                  <name>Recurse Subdirectories</name>
                </value>
              </entry>
              <entry>
                <key>Polling Interval</key>
                <value>
                  <name>Polling Interval</name>
                </value>
              </entry>
              <entry>
                <key>Ignore Hidden Files</key>
                <value>
                  <name>Ignore Hidden Files</name>
                </value>
              </entry>
              <entry>
                <key>Minimum File Age</key>
                <value>
                  <name>Minimum File Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Age</key>
                <value>
                  <name>Maximum File Age</name>
                </value>
              </entry>
              <entry>
                <key>Minimum File Size</key>
                <value>
                  <name>Minimum File Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Size</key>
                <value>
                  <name>Maximum File Size</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Input Directory</key>
                <value>/data/domain</value>
              </entry>
              <entry>
                <key>File Filter</key>
                <value>[^\.].*</value>
              </entry>
              <entry>
                <key>Path Filter</key>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>10</value>
              </entry>
              <entry>
                <key>Keep Source File</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Recurse Subdirectories</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Polling Interval</key>
                <value>0 sec</value>
              </entry>
              <entry>
                <key>Ignore Hidden Files</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Minimum File Age</key>
                <value>0 sec</value>
              </entry>
              <entry>
                <key>Maximum File Age</key>
              </entry>
              <entry>
                <key>Minimum File Size</key>
                <value>0 B</value>
              </entry>
              <entry>
                <key>Maximum File Size</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GetFile</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.GetFile</type>
        </processors>
        <processors>
          <id>f7909cb6-eb81-335f-0000-000000000000</id>
          <parentGroupId>4fbfc567-6180-3ce1-0000-000000000000</parentGroupId>
          <position>
            <x>908.24267578125</x>
            <y>97.56959533691406</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>15</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Line Split Count</key>
                <value>
                  <name>Line Split Count</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Fragment Size</key>
                <value>
                  <name>Maximum Fragment Size</name>
                </value>
              </entry>
              <entry>
                <key>Header Line Count</key>
                <value>
                  <name>Header Line Count</name>
                </value>
              </entry>
              <entry>
                <key>Header Line Marker Characters</key>
                <value>
                  <name>Header Line Marker Characters</name>
                </value>
              </entry>
              <entry>
                <key>Remove Trailing Newlines</key>
                <value>
                  <name>Remove Trailing Newlines</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Line Split Count</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Fragment Size</key>
              </entry>
              <entry>
                <key>Header Line Count</key>
                <value>0</value>
              </entry>
              <entry>
                <key>Header Line Marker Characters</key>
              </entry>
              <entry>
                <key>Remove Trailing Newlines</key>
                <value>true</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SplitText</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>splits</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.SplitText</type>
        </processors>
        <processors>
          <id>fcaf665b-5eea-301f-0000-000000000000</id>
          <parentGroupId>4fbfc567-6180-3ce1-0000-000000000000</parentGroupId>
          <position>
            <x>1439.7521468824334</x>
            <y>351.2439734069594</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>15</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>destination</key>
                <value>
                  <name>destination</name>
                </value>
              </entry>
              <entry>
                <key>id</key>
                <value>
                  <name>id</name>
                </value>
              </entry>
              <entry>
                <key>info</key>
                <value>
                  <name>info</name>
                </value>
              </entry>
              <entry>
                <key>length</key>
                <value>
                  <name>length</name>
                </value>
              </entry>
              <entry>
                <key>protocol</key>
                <value>
                  <name>protocol</name>
                </value>
              </entry>
              <entry>
                <key>source</key>
                <value>
                  <name>source</name>
                </value>
              </entry>
              <entry>
                <key>time</key>
                <value>
                  <name>time</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>destination</key>
                <value>${regex.4}</value>
              </entry>
              <entry>
                <key>id</key>
                <value>${regex.1}</value>
              </entry>
              <entry>
                <key>info</key>
                <value>${regex.7}</value>
              </entry>
              <entry>
                <key>length</key>
                <value>${regex.6}</value>
              </entry>
              <entry>
                <key>protocol</key>
                <value>${regex.5}</value>
              </entry>
              <entry>
                <key>source</key>
                <value>${regex.3}</value>
              </entry>
              <entry>
                <key>time</key>
                <value>${regex.2}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>5f89117a-556e-316c-0000-000000000000</id>
          <parentGroupId>4fbfc567-6180-3ce1-0000-000000000000</parentGroupId>
          <position>
            <x>918.6030569432401</x>
            <y>347.9340607580581</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>15</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Attributes List</key>
                <value>
                  <name>Attributes List</name>
                </value>
              </entry>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Include Core Attributes</key>
                <value>
                  <name>Include Core Attributes</name>
                </value>
              </entry>
              <entry>
                <key>Null Value</key>
                <value>
                  <name>Null Value</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Attributes List</key>
                <value>id,time,source,destination,length,info</value>
              </entry>
              <entry>
                <key>Destination</key>
                <value>flowfile-attribute</value>
              </entry>
              <entry>
                <key>Include Core Attributes</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Null Value</key>
                <value>true</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>AttributesToJSON</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
        </processors>
      </contents>
      <name>dns-to-kafka</name>
    </processGroups>
    <processGroups>
      <id>6148f3c7-b1f3-3e29-0000-000000000000</id>
      <parentGroupId>b925a293-1e09-3018-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>aed1eca1-068d-30ca-0000-000000000000</id>
          <parentGroupId>6148f3c7-b1f3-3e29-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6148f3c7-b1f3-3e29-0000-000000000000</groupId>
            <id>14542a88-52c6-3940-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>6148f3c7-b1f3-3e29-0000-000000000000</groupId>
            <id>4401d5b2-690d-3d1b-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>b72c3242-92d8-318f-0000-000000000000</id>
          <parentGroupId>6148f3c7-b1f3-3e29-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6148f3c7-b1f3-3e29-0000-000000000000</groupId>
            <id>b58debc9-6d77-302d-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>6148f3c7-b1f3-3e29-0000-000000000000</groupId>
            <id>4401d5b2-690d-3d1b-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>1b1e9b76-28f6-3f54-0000-000000000000</id>
          <parentGroupId>6148f3c7-b1f3-3e29-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6148f3c7-b1f3-3e29-0000-000000000000</groupId>
            <id>4401d5b2-690d-3d1b-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>6148f3c7-b1f3-3e29-0000-000000000000</groupId>
            <id>39f181fe-5184-3caa-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>25c5c619-ec87-3c1b-0000-000000000000</id>
          <parentGroupId>6148f3c7-b1f3-3e29-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6148f3c7-b1f3-3e29-0000-000000000000</groupId>
            <id>39f181fe-5184-3caa-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>6148f3c7-b1f3-3e29-0000-000000000000</groupId>
            <id>84d0af64-9186-3d21-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <processors>
          <id>84d0af64-9186-3d21-0000-000000000000</id>
          <parentGroupId>6148f3c7-b1f3-3e29-0000-000000000000</parentGroupId>
          <position>
            <x>399.0</x>
            <y>159.0</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Protocol</key>
                <value>
                  <name>Protocol</name>
                </value>
              </entry>
              <entry>
                <key>Port</key>
                <value>
                  <name>Port</name>
                </value>
              </entry>
              <entry>
                <key>Local Network Interface</key>
                <value>
                  <name>Local Network Interface</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Client Auth</key>
                <value>
                  <name>Client Auth</name>
                </value>
              </entry>
              <entry>
                <key>Receive Buffer Size</key>
                <value>
                  <name>Receive Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Size of Message Queue</key>
                <value>
                  <name>Max Size of Message Queue</name>
                </value>
              </entry>
              <entry>
                <key>Max Size of Socket Buffer</key>
                <value>
                  <name>Max Size of Socket Buffer</name>
                </value>
              </entry>
              <entry>
                <key>Max Number of TCP Connections</key>
                <value>
                  <name>Max Number of TCP Connections</name>
                </value>
              </entry>
              <entry>
                <key>Max Batch Size</key>
                <value>
                  <name>Max Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Message Delimiter</key>
                <value>
                  <name>Message Delimiter</name>
                </value>
              </entry>
              <entry>
                <key>Parse Messages</key>
                <value>
                  <name>Parse Messages</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Protocol</key>
                <value>UDP</value>
              </entry>
              <entry>
                <key>Port</key>
                <value>5140</value>
              </entry>
              <entry>
                <key>Local Network Interface</key>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Client Auth</key>
                <value>NONE</value>
              </entry>
              <entry>
                <key>Receive Buffer Size</key>
                <value>65507 B</value>
              </entry>
              <entry>
                <key>Max Size of Message Queue</key>
                <value>10000</value>
              </entry>
              <entry>
                <key>Max Size of Socket Buffer</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Max Number of TCP Connections</key>
                <value>2</value>
              </entry>
              <entry>
                <key>Max Batch Size</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Message Delimiter</key>
                <value>\n</value>
              </entry>
              <entry>
                <key>Parse Messages</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ListenSyslog</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>invalid</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ListenSyslog</type>
        </processors>
        <processors>
          <id>b58debc9-6d77-302d-0000-000000000000</id>
          <parentGroupId>6148f3c7-b1f3-3e29-0000-000000000000</parentGroupId>
          <position>
            <x>1111.3851832181595</x>
            <y>622.3749310585922</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>counter-name</key>
                <value>
                  <name>counter-name</name>
                </value>
              </entry>
              <entry>
                <key>delta</key>
                <value>
                  <name>delta</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>counter-name</key>
                <value>syslog</value>
              </entry>
              <entry>
                <key>delta</key>
                <value>1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateCounter</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.UpdateCounter</type>
        </processors>
        <processors>
          <id>14542a88-52c6-3940-0000-000000000000</id>
          <parentGroupId>6148f3c7-b1f3-3e29-0000-000000000000</parentGroupId>
          <position>
            <x>1111.5836445202121</x>
            <y>172.43542352845543</y>
          </position>
          <bundle>
            <artifact>nifi-kafka-0-10-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
                <value>
                  <name>sasl.kerberos.principal</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
                <value>
                  <name>sasl.kerberos.keytab</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>acks</key>
                <value>
                  <name>acks</name>
                </value>
              </entry>
              <entry>
                <key>kafka-key</key>
                <value>
                  <name>kafka-key</name>
                </value>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>
                  <name>key-attribute-encoding</name>
                </value>
              </entry>
              <entry>
                <key>message-demarcator</key>
                <value>
                  <name>message-demarcator</name>
                </value>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>
                  <name>max.request.size</name>
                </value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>
                  <name>ack.wait.time</name>
                </value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>
                  <name>max.block.ms</name>
                </value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>
                  <name>partitioner.class</name>
                </value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>
                  <name>compression.type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>cmname1:9092,cmdata1:9092,cmdata2:9092,cmserve:9092</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>topic</key>
                <value>syslognifi</value>
              </entry>
              <entry>
                <key>acks</key>
                <value>0</value>
              </entry>
              <entry>
                <key>kafka-key</key>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>utf-8</value>
              </entry>
              <entry>
                <key>message-demarcator</key>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>5 sec</value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>none</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PublishKafka_0_10</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_0_10</type>
        </processors>
        <processors>
          <id>39f181fe-5184-3caa-0000-000000000000</id>
          <parentGroupId>6148f3c7-b1f3-3e29-0000-000000000000</parentGroupId>
          <position>
            <x>399.81042378284576</x>
            <y>411.69747438079526</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>body</key>
                <value>
                  <name>body</name>
                </value>
              </entry>
              <entry>
                <key>facility</key>
                <value>
                  <name>facility</name>
                </value>
              </entry>
              <entry>
                <key>host</key>
                <value>
                  <name>host</name>
                </value>
              </entry>
              <entry>
                <key>id</key>
                <value>
                  <name>id</name>
                </value>
              </entry>
              <entry>
                <key>port</key>
                <value>
                  <name>port</name>
                </value>
              </entry>
              <entry>
                <key>priority</key>
                <value>
                  <name>priority</name>
                </value>
              </entry>
              <entry>
                <key>protocol</key>
                <value>
                  <name>protocol</name>
                </value>
              </entry>
              <entry>
                <key>sender</key>
                <value>
                  <name>sender</name>
                </value>
              </entry>
              <entry>
                <key>severity</key>
                <value>
                  <name>severity</name>
                </value>
              </entry>
              <entry>
                <key>timestamp</key>
                <value>
                  <name>timestamp</name>
                </value>
              </entry>
              <entry>
                <key>type</key>
                <value>
                  <name>type</name>
                </value>
              </entry>
              <entry>
                <key>valid</key>
                <value>
                  <name>valid</name>
                </value>
              </entry>
              <entry>
                <key>version</key>
                <value>
                  <name>version</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>syslog.*</value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>body</key>
                <value>${syslog.body}</value>
              </entry>
              <entry>
                <key>facility</key>
                <value>${syslog.facility}</value>
              </entry>
              <entry>
                <key>host</key>
                <value>${syslog.hostname}</value>
              </entry>
              <entry>
                <key>id</key>
                <value>${uuid}</value>
              </entry>
              <entry>
                <key>port</key>
                <value>${syslog.port}</value>
              </entry>
              <entry>
                <key>priority</key>
                <value>${syslog.priority}</value>
              </entry>
              <entry>
                <key>protocol</key>
                <value>${syslog.protocol}</value>
              </entry>
              <entry>
                <key>sender</key>
                <value>${syslog.sender}</value>
              </entry>
              <entry>
                <key>severity</key>
                <value>${syslog.severity}</value>
              </entry>
              <entry>
                <key>timestamp</key>
                <value>${syslog.body:getDelimitedField(3, ' ')}</value>
              </entry>
              <entry>
                <key>type</key>
                <value>${mine.type}</value>
              </entry>
              <entry>
                <key>valid</key>
                <value>${syslog.valid}</value>
              </entry>
              <entry>
                <key>version</key>
                <value>${syslog.version}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>4401d5b2-690d-3d1b-0000-000000000000</id>
          <parentGroupId>6148f3c7-b1f3-3e29-0000-000000000000</parentGroupId>
          <position>
            <x>1111.7274445757776</x>
            <y>412.790221037244</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>(?s)(^.*$)</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>${id},${host},${timestamp},${body}</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Regex Replace</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ReplaceText</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
      </contents>
      <name>syslog-to-kafka</name>
    </processGroups>
  </snippet>
  <timestamp>09/25/2017 15:30:39 CST</timestamp>
</template>